In [38]:
class Point3D:
    def __init__(self, x, y, z):
        self.x = x
        self.y = y
        self.z = z

In [26]:
from collections import namedtuple

In [3]:
Point2D = namedtuple("Point2D", ['x', 'y'])

In [7]:
pt1 = Point2D(20,30)

In [12]:
pt1[0], pt1[1]

(20, 30)

In [13]:
pt1.x, pt1.y

(20, 30)

In [17]:
pt1 = Point2D(10,20)

In [18]:
pt2 = Point2D(10,20)

In [19]:
pt1 is pt2

False

In [39]:
 pt1 = Point3D(10, 20, 30)

In [40]:
 pt2 = Point3D(10, 20, 30)

In [41]:
pt1 is pt2

False

In [57]:
class Point3D:
    def __init__(self, x, y, z):
        self.x = x
        self.y = y
        self.z = z
    
    def __repr__(self):
        return "{}{}".format(self.__class__.__name__,(self.x,self.y,self.z))
    
    def __eq__(self, other):
        if isinstance(other, Point3D):
            return self.x == other.x and self.y == other.y and self.z == other.z
        else:
            return False

In [58]:
pt1 = Point3D(10, 20, 30)

In [59]:
pt1

Point3D(10, 20, 30)

In [60]:
pt2 = Point3D(10, 20, 30)

In [61]:
pt1 == pt2

True

In [64]:
pt1 = Point2D(10,100)    #Dzieki temu ze named tuple jest klasa ktora dziedziczt tupla, mozemy operowac na niej jak na normalnym tuplu.

In [65]:
max(pt1)

100

In [67]:
def dot_product_3d(a,b):
    return a.x * b.x + a.y * b.y + a.z * b.z

In [69]:
pt1 = Point3D(1,2,3)
pt2 = Point3D(14,23,3)

In [70]:
dot_product_3d(pt1, pt2)

69

In [71]:
a = (1,2)
b = (3,4)

In [74]:
elements = list(zip(a,b))

In [75]:
sum(e[0]*e[1] for e in elements)

11

In [76]:
Vector3D = namedtuple("Vector3D", 'x y z')

In [77]:
v1 = Vector3D(10, 20, 30)

In [78]:
v2 = Vector3D(1, 5, 8)

In [79]:
def dot_product(a,b):
    return sum(e[0]*e[1] for e in zip(a,b))

In [81]:
dot_product(v1,v2)

350

In [82]:
type(v1)

__main__.Vector3D

In [83]:
isinstance(v1, tuple)

True

In [84]:
Circle = namedtuple('Circle', 'centre_x centre_y radius')

In [85]:
c = Circle(10, 20, 30)

In [86]:
c.centre_x

10

In [87]:
c.radius

30

In [114]:
Stock = namedtuple('Stock', '''symbol year month day open high low close''')

In [90]:
djia = Stock('DIJA', 2018, 1, 25, 26_313, 26_458, 26_260, 26_393)

In [96]:
for i in djia:
    print(i)

DIJA
2018
1
25
26313
26458
26260
26393

In [98]:
symbol, year, month, *_, close = djia

In [103]:
symbol,

('DIJA',)

In [104]:
year

2018

In [105]:
month

1

In [106]:
_

[25, 26313, 26458, 26260]

In [107]:
Person = namedtuple('Person', 'name age _ss _asdasd', rename=True) # rename pozwala na zachowanie poprawnych nazw w namedtuple ( nie mozna uzywac nazw typu _cos)

In [109]:
Person._fields  #zamienia invaild nazwy na ich numery pozycji

('name', 'age', '_2', '_3')

In [116]:
Stock._fields

('symbol', 'year', 'month', 'day', 'open', 'high', 'low', 'close')

In [122]:
d = djia._asdict()

In [124]:
d['symbol']

'DIJA'